<h1>Adding Treinadores</h1>

<a href="../listar-treinador">
  <button class="btn btn-dark" type="submit">
    Listar Treinadores
  </button>

</a>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group text-align p-5">
    <p class="h4 mb-4">Olá, treinador. Se apresente =)</p>

    <div class="form-group">

      <input type="text" id="name" class="form-control mb-4" placeholder="Digite o seu nome" ngModel name="name"
        required #name="ngModel">
      <div *ngIf="!name.valid && name.touched" class="alert alert-danger" role="alert">
        O nome é obrigatório.
      </div>

      <input type="email" id="email" class="form-control mb-4" placeholder="Digite o seu e-mail" ngModel name="email"
        required email #email="ngModel">
      <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
        E-mail inválido.
      </div>

    </div>
    <button class="btn btn-dark mb-4" type="submit" [disabled]="!f.valid">
      Salvar
    </button>
  </div>
</form>