<h1>Adding Pokemons</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="needs-validation" novalidate>
  <div class="form-group text-align p-5">
    <p class="h4 mb-4">Digite o nome do seu pokemon</p>
    <!-- Inputs -->
    <div>
      <input type="text" id="nome" class="form-control mb-4" name="nome" placeholder="Digite o nome ou id do pokemon"
        ngModel #nome="ngModel" (blur)="pesquisa($event.target.value, f)" required>
      <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
        Nome é obrigatório.
      </div>
      <button class="btn btn-dark mb-4" type="submit" [disabled]="!f.valid">
        Pesquisar
      </button>
    </div>

    <div *ngIf=" f.submitted"> Aguarde...
    </div>

    <div>
      <input type="text" id="id" class="form-control mb-4" placeholder="Id" [(ngModel)]="id" name="id" readonly>

      <input type="text" id="name" class="form-control mb-4" placeholder="Nome" [(ngModel)]="name" name="name" readonly>

      <input type="text" id="height" class="form-control mb-4" placeholder="Altura" [(ngModel)]="height" name="height"
        readonly>

      <input type="text" id="speciesName" class="form-control mb-4" placeholder="Nome da Espécie"
        [(ngModel)]="speciesName" name="speciesName" readonly>
    </div>

  </div>
</form>