<h1>Adding Pokemons to Treinadores</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group text-align p-5">
    <p class="h4 mb-4">Olá. Escolha seu pokemon, treinador =D</p>
    <p class="h7 mb-4">Antes de escolher o seu pokemon, ele precisa ser adicionado ao banco de dados.</p>
    <!-- Inputs -->
    <div class="mb-4">
      
      <label for="treinador" class="control-label">Nome do treinador</label>
      <select id="nomeTreinador" class="custom-select form-control mb-4" ngModel name="nomeTreinador" required>
        <option selected>Escolha um treinador</option>
        <option *ngFor="let treinador of treinadores" [value]="treinador.name"> {{ treinador.name }}</option>
      </select>

      <label for="pokemon" class="control-label">Nome do pokemon</label>
      <select id="nomePokemon" class="custom-select form-control mb-4" ngModel name="nomePokemon" required>
        <option selected>Escolha um pokemon</option>
        <option *ngFor="let pokemon of pokemons" [value]="pokemon.name"> {{ pokemon.name }}</option>
      </select>

    </div>
    <button class="btn btn-dark mb-4" type="submit" [disabled]="!f.valid">
      Salvar
    </button>
  </div>
</form>