<h1>Lista de Treinadores</h1>

<a href="../add-treinador">
  <button class="btn btn-dark" type="submit">
    Add Treinador
  </button>
</a>

<p *ngIf="!treinadores"><em>Loading...</em></p>
<table class='table table-striped' *ngIf="treinadores">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let treinador of treinadores">
      <td>{{ treinador.id }}</td>
      <td>{{ treinador.name }}</td>
      <td>{{ treinador.email }}</td>
    </tr>
  </tbody>
</table>
