<h1>Lista de Pokemons</h1>

<a href="../add-pokemon">
  <button class="btn btn-dark" type="button">
    Add Pokemon
  </button>
  </a>
<br />
<div class="input-group mb-4">
  <input type="text" class="form-control" #name placeholder="Pesquisar pokemon por nome ou id" aria-label="Pesquisar pokemon por nome ou id" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit" (click)="pesquisar(name.value)" id="button-addon2">Pesquisar</button>
  </div>
</div>

<p *ngIf="!pokemons && !pokemon"><em>Loading...</em></p>
<table class='table table-striped' *ngIf="pokemons || pokemon">
  <thead>
    <tr *ngIf="!pokemons">
      <th>Id</th>
      <th>Nome</th>
      <th>Altura</th>
      <th>Espécie</th>
    </tr>
    <tr *ngIf="pokemons">
      <th>Nome</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <!-- -->
    <tr *ngFor="let poke of pokemon | paginate: { itemsPerPage:1, currentPage: p }">
      <td>{{ poke.id }}</td>
      <td>{{ poke.name }}</td>
      <td>{{ poke.height }}</td>
      <td>{{ poke.speciesName }}</td>
    </tr>
    <tr *ngFor="let pokemon of pokemons | paginate: { itemsPerPage:10, currentPage: p }">
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.url }}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</table>
